@model NguyenVanQuan_2310900084.Models.NvqEmployee

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>NvqEmployee</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NvqEmpName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NvqEmpName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NvqEmpLevel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NvqEmpLevel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NvqEmpStartDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NvqEmpStartDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NvqEmpStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NvqEmpStatus)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="NvqEdit" asp-route-id="@Model?.NvqEmpId">Edit</a> |
    <a asp-action="NvqIndex">Back to List</a>
</div>
