@model TRANGQUANAO.Models.Loai

@{
    ViewData["Title"] = "Xem loại";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Xem</h1>

<div>
    <h4>Loại</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TenLoai)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TenLoai)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TenLoaiAlias)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TenLoaiAlias)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MoTa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MoTa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Hinh)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Hinh)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.MaLoai" class="btn btn-success">Edit</a> |
    <a asp-action="Index" class="btn btn-secondary px-4 py-2">⬅ Quay lại</a>
</div>
