@model TRANGQUANAO.Models.ChiTietHd

@{
    ViewData["Title"] = "Xem chiết tiết hóa đơn";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Xem</h1>

<div>
    <h4>Chi tiết hóa đơn</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DonGia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DonGia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SoLuong)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SoLuong)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GiamGia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GiamGia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaHdNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaHdNavigation.MaHd)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaHhNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaHhNavigation.MaHh)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.MaCt" class="btn btn-success">Edit</a> |
    <a asp-action="Index" class="btn btn-secondary px-4 py-2">⬅ Quay lại</a>
</div>
