@model IEnumerable<TRANGQUANAO.Models.ChiTietHd>

@{
    ViewData["Title"] = "Danh sách chi tiết hóa đơn";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Danh sách chi tiết hóa đơn</h1>

<p>
    <a asp-area="Admin" asp-controller="ChiTietHds" asp-action="Create" class="btn btn-success">
        ➕ Thêm hàng hóa
    </a>
</p>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DonGia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SoLuong)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GiamGia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaHdNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaHhNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DonGia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SoLuong)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GiamGia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaHdNavigation.MaHd)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaHhNavigation.MaHh)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.MaCt" class="btn btn-warning">✏️ Sửa</a>
                    <a asp-action="Details" asp-route-id="@item.MaCt" class="btn btn-primary">🔍 Xem</a>
                    <a asp-action="Delete" asp-route-id="@item.MaCt" class="btn btn-danger"
                       onclick="return confirm('Bạn có chắc chắn muốn xóa?')">🗑️ Xóa</a>
            </td>
        </tr>
}
    </tbody>
</table>
